@media (min-width: 1200px) {
  .col-xl-8 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.description{
  font-family: "Roboto", arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-right: 20px;
}

.heading{
  font-size: 40px;
  font-family: "Playfair Display", times, serif;
  font-weight: 700;
}

.tailleBloc{
  width: 90%;
  height: 70%;
}

.imgtailleprofile{
  width: 10%;
  /*height: 10%;*/
}

.card-body {
  padding: 0.25rem;
}