/* Pour l'affichage de la table */
#accountTable {
    /* width: 80%; */
    text-align: center !important;
    vertical-align: middle !important;
  }

  #accountTable p {
    margin: auto !important;
  }

  #accountTable>tr,
  th,
  td {
    text-align: center !important;
    vertical-align: middle !important;
  }

  th.sorting {
    text-align: center !important;
  }


  /* Pour l'affichage de l'adresse e-mail */
  .emailLink {
    text-decoration: none;
  }
  .emailLink:hover {
    text-decoration: underline;
  }


  /* Pour l'affichage des étoiles */
  .rating {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 90%;
    line-height: 30px;
    font-size: 20px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
  }
  .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffdd00;
    transition: width 0.5s ease;
  }
  .stars span:not(.rating-value) {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    padding: 0;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .rating-value {
    z-index: 99;
    position: relative;
    padding-left: 5px;
    font-size: 16px;
  }