/* PopUp */
#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    z-index: 1;
  }
  
  #popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  button:focus {
    outline: none;
  }

  .flou {
    filter: blur(6px);
  }

  .infos {
    font-size: medium;
    padding-right: 5px;
  }


/* Notation */
/*  
* Rating styles
*/
.rating {
    align-items: center;
    display: flex;
    width: 100%;
    font-size: 35px;
    overflow:hidden;
}
.rating a {
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
    color: rgb(255, 225, 0);
    cursor: pointer;
}
.rating2 {
    direction: ltr;
}
.rating2 a {
    float:none
}