/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  } */
  
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
  } */
  
  h1 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

  td {
    width:100px;
    text-align: center;

  }
  
  .edit-btn,
  .delete-btn,
  .details-btn,
  .cancel-btn,
  .confirm-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .edit-btn:hover,
  .delete-btn:hover,
  .details-btn:hover,
  .cancel-btn:hover,
  .confirm-btn:hover{
    color: #555;
  }
  
  .edit-btn i,
  .delete-btn i,
  .details-btn i,
  .cancel-btn i,
  .confirm-btn i{
    font-size: 1.2rem;
  }
  /* button {
    margin-right: 10px;
 } */

 .div-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* créer 3 colonnes de largeur égale */
  grid-gap: 10px; /* ajouter une marge de 10 pixels entre chaque bouton */
}

button {
  width: 100%; /* définir la largeur de chaque bouton à 100% */
  
}
/* 
button.delete-btn{
  margin-right: 10px;
} */

button.cancel-btn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 0;
}

button.cancel-btn:nth-child(0) {
  justify-self: center;
  vertical-align: middle;
}


button.delete-btn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 0;
}

.signup-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-btn:hover {
  background-color: #3E8E41;
}

.actions-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions-btn:hover {
  background-color: #3E8E41;
}

  


/* .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container .card{
    position: relative;
    width: 500px;
    height: 230px;
    padding: 15px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0, .3);
}


.container .card h2 {
    z-index: 99;
    position : absolute;
    bottom : 25px;
    right : 130px;
    font-size : 50px;
    font-weight: 700;
    color : #fff;
    pointer-events: none;
    transition: .2s ease;
    text-shadow : 0 0 15px rgba(0, 0, 0, .5)
}


.container .card p {
    z-index: 99;
    position : absolute;
    bottom : 30px;
    right : 130px;
    width : 150px;
    color : #fff;
    opacity: 0;
    font-size: 12px;
    text-align: right;
    letter-spacing: 1px;
    transition: .2s ease ;

}

.container .card span {
    z-index: 99;
    position : absolute;
    top : 60px;
    right : 35px;
    color : #333;
    font-size: 12px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    transition: .2s ease;
    opacity : .7;
}


.container .card .pic {
    z-index : 100;
    width : 395px;
    height : 200px;
    background-image: url(/static/images/image.gif);
    background-size: cover;
    border-radius: 12px;
    filter : grayscale(100%);
    transition: .3s ease;
}


.container .card button {
    position : absolute;
    right : 30px;
    bottom : 40px;
    width : 30px;
    height: 30px;
    background-color: #da4d1d;
    border : none;
    border-radius: 30px;
    cursor : pointer;
    outline : none;
    opacity : 1;
    transition: .3s ease;
}



.container .card:hover button{
    transform : scale(16.5);
    opacity: .5;
}


.container .card:hover h2{
    bottom : 80px;
    right : 50px;
}


.container .card:hover p{
    opacity : 1;
    right : 60px;
}

.container .card:hover span{
    opacity : 0;
    top : 80px;
}

.container .card:hover .pic{
    filter : grayscale(0);
    width : 470px;
}
 */
