<!DOCTYPE HTML>
<html>
    <head>
        {% set title='Admin - Modifier groupe' %}
        {% include 'head.html' %}
        <link rel="stylesheet" href="/static/css/admin-ami-edit.css">
        <link rel="stylesheet" href="/static/css/groupMembers.css">
    </head>
    <body onload="charger_groupe()">
        {% include 'header.html' %}

        {% set section_name='Admin - Modifier groupe' %}
        {% include 'inner-page-admin.html' %}

        {% include 'admin/index/admin-index-section.html' %}

        {% include 'admin/ami/edit/admin-ami-edit-section.html' %}

        {% include 'footer.html' %}

        {% include 'scripts-required.html' %}
        <script src="/static/js/admin-ami-edit.js"></script>
        <script src="/static/js/required/cookies.js"></script>
        <script src="/static/js/required/jquery-3.3.1.min.js"></script>
        <script src="/static/js/required/aos.js"></script>
    </body>
</html>