<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% set title='Panel - Accueil' %}
        {% include 'head.html' %}
        <link rel="stylesheet" href="../static/css/admin.css">
    </head>
    <body onload="onLoad()">
        {% include 'header.html' %}

        {% set section_name='Panel - Accueil' %}
        {% include 'inner-page.html' %}

        {% include 'admin/index/admin-index-section.html' %}

        {% include 'footer.html' %}
        
        {% include 'scripts-required.html' %}
        <script src="../static/js/admin.js"></script>
    </body>
</html>