<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% set title='A propos' %}
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'header.html' %}

        {% set section_name='A propos' %}
        {% include 'inner-page.html' %}

        {% include 'about_section.html' %}
        {% include 'about-container.html' %}
        

        {% include 'bg-image-section.html' %}

        {% include 'footer.html' %}
        
        {% include 'scripts-required.html' %}
        {% include 'scripts.html' %}


    </body>
</html>