<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% set title='Compte' %}
        {% include 'head.html' %}
        <link rel="stylesheet" href="css/account.css">
    </head>
    <body onload="applyData()">
        {% include 'header.html' %}

        {% set section_name='Compte' %}
        {% include 'inner-page.html' %}

        {% include 'account-section.html' %}

        {% include 'footer.html' %}
        
        {% include 'scripts-required.html' %}
    </body>
    <script src="js/account.js"></script>
</html>