<!DOCTYPE html>
<html lang="fr-FR">
<head>
    {% set title='Administrateur - Recherche de compte utilisateur' %}
    {% include 'head.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
</head>
<body>
  {% include 'header.html' %}

  {% set section_name='Administrateur - Recherche de compte utilisateur' %}
  {% include 'inner-page.html' %}

  <!-- inclure le code ici -->

  <section  style="max-width:99%">
    <table id="accountTable" class="table table-striped">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Nom de l'utilisateur</th>
          <th>Genre</th>
          <th>E-mail</th>
          <th>Note</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>/</td>
          <td>Georgel Mathis</td>
          <td>Masculin</td>
          <td>mathis.georgel@gmail.com</td>
          <td>4/5</td>
          <td>Supprimer</td>
        </tr>
        
        <tr>
          <td>/</td>
          <td>Gehin Sandy</td>
          <td>Masculin</td>
          <td>sandy.gehin@gmail.com</td>
          <td>4.2/5</td>
          <td>Supprimer</td>
        </tr>
        <tr>
          <td>/</td>
          <td>Cognito Quentin</td>
          <td>Masculin</td>
          <td>quentin.cognito@gmail.com</td>
          <td>2/5</td>
          <td>Supprimer</td>
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <th>Photo</th>
          <th>Nom de l'utilisateur</th>
          <th>Genre</th>
          <th>E-mail</th>
          <th>Note</th>
          <th>Action</th>
          </tr>
      </tfoot> -->
    </table>
  </section>

  {% include 'footer.html' %}
        
  {% include 'scripts-required.html' %}
  {% include 'scripts.html' %}
  
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
  <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>

  <script src="js/accountTable.js"></script>

</body>
</html>