<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% set title='Contact' %}
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'header.html' %}

        {% set section_name='Contact' %}
        {% include 'inner-page.html' %}

        {% include 'contact-section.html' %}

        {% include 'testimonial-section.html' %}

        {% include 'bg-image-section.html' %}

        {% include 'footer.html' %}
        
        {% include 'scripts.html' %}
    </body>
</html>