<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% set title='Termes & Conditions' %}
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'header.html' %}

        {% set section_name='Termes & Conditions' %}
        {% include 'inner-page.html' %}

        {% include 'terms-section.html' %}

        {% include 'bg-image-section.html' %}

        {% include 'footer.html' %}
        
        {% include 'scripts-required.html' %}
        {% include 'scripts.html' %}

    </body>
</html>