<!DOCTYPE HTML>
<html>
    <head>
        {% set title='Admin - Compte' %}
        {% include 'head.html' %}
        <link rel="stylesheet" href="/static/css/admin-account.css">
        <link rel="stylesheet" href="/static/css/account.css">
    </head>
    <body>
        {% include 'header.html' %}

        {% set section_name='Admin - Compte' %}
        {% include 'inner-page-admin.html' %}

        {% include 'admin/account/admin-account-section.html' %}

        {% include 'footer.html' %}

        {% include 'scripts-required.html' %}
        <script src="/static/js/admin-account.js"></script>
    </body>
</html>