<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% set title='Accueil' %}
        {% include 'head.html' %}

        <script src="/static/js/research-trajet.js"></script>
    </head>
    <body>
        {% include 'header.html' %}

        {% include 'index/inner-index.html' %}

        {% include 'search-trajet/rechercher-trajet-section.html' %}

        {% include 'index/index-section.html' %}

        {% include 'testimonial-section.html' %}

        {% include 'bg-image-section.html' %}

        {% include 'footer.html' %}
        
        {% include 'scripts-required.html' %}
    </body>
</html>