<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% set title='Contact' %}
        {% include 'head.html' %}
        <script src="https://smtpjs.com/v3/smtp.js"></script>
    </head>
    <body>
        {% include 'header.html' %}

        {% set section_name='Contact' %}
        {% include 'inner-page.html' %}

        {% include 'contact/contact-section.html' %}

        {% include 'testimonial-section.html' %}

        {% include 'bg-image-section.html' %}

        {% include 'footer.html' %}
        
        {% include 'scripts-required.html' %}
        <!-- <script src="https://smtpjs.com/v3/smtp.js"></script> -->
        <script src="static/js/contact.js"></script>
    </body>
</html>