<!DOCTYPE html>
<html lang="fr-FR">

<head>
  {% set title='Administrateur - Recherche de compte utilisateur' %}
  {% include 'head.html' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  {% include 'header.html' %}

  {% set section_name='Administrateur - Recherche de compte utilisateur' %}
  {% include 'inner-page.html' %}

  <!-- inclure le code ici -->

  <style>
    #accountTable {
      text-align: center !important;
      vertical-align: middle !important;
    }

    #accountTable p {
      margin: auto !important;
    }

    #accountTable>tr,
    th,
    td {
      text-align: center !important;
      vertical-align: middle !important;
    }

    th.sorting {
      text-align: center !important;
    }
  </style>

  <section class="col-md-12">
    <table id="accountTable" class="table table-striped table-bordered table-responsive-lg" cellspacing="0"
      width="100%">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Nom de l'utilisateur</th>
          <th>Genre</th>
          <th>E-mail</th>
          <th>Numéro de téléphone</th>
          <th>Note</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
      </thead>

      <script>
        console.log('on est appelé.');
        fetch('admin/users')
          .then(reponse => {
            if (!reponse.ok) {
              throw new Error('Network response was not ok');
            }
            return reponse.json();
          })
          .then(data => {
            console.log(data);
            let nbCompte = data.length;
            let table = $('#accountTable');
            let tbody = $("<tbody>");
            for (let i = 0; i < nbCompte; i++) {
              let account = data[i];
              console.log(account.nomCompte);
              let tr = $("<tr>");
              tr.append($('<td>').append($('<img>').attr('src', "/static/images/person_" + i + ".jpg").attr('alt', account.nomCompte).attr('width', 64).attr('height', 64)));
              tr.append($('<td>').text(account.nomCompte + ' ' + account.prenomCompte));
              tr.append($('<td>').text(account.genre));
              tr.append($('<td>').append($('<a>').attr('href', 'mailto:' + account.email).text(account.email)));
              tr.append($('<td>').text(account.telephone));
              tr.append($('<td>').text(account.noteCompte));
              tr.append($('<td>').append($('<p>').attr('data-placement', 'top').attr('data-toggle', 'tooltip').attr('title', 'Edit').append($('<button>').addClass('btn btn-primary btn-xs').attr('data-title', 'Edit').attr('data-toggle', 'modal').attr('data-target', '#edit').append($('<span>').addClass('fa fa-pencil')))));
              tr.append($('<td>').append($('<p>').attr('data-placement', 'top').attr('data-toggle', 'tooltip').attr('title', 'Delete').append($('<button>').addClass('btn btn-danger btn-xs').attr('data-title', 'Delete').attr('data-toggle', 'modal').attr('data-target', '#delete').append($('<span>').addClass('fa fa-trash')))));
              tbody.append(tr);

            }
            table.append(tbody);
        

          }).catch(error => {
            console.error(error);
          });

      </script>
    </table>
  </section>

  {% include 'footer.html' %}

  {% include 'scripts-required.html' %}


  <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
  <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
  <script src="/static/js/accountTable.js">
    $("[data-toggle=tooltip]").tooltip();
  </script>



</body>

</html>