<!DOCTYPE html>
<html lang="fr-FR">
<head>
  {% set title="Administrateur - Recherche d'un trajet" %}
  {% include 'head.html' %}


  <link rel="stylesheet" href="/static/css/admin-search-route.css">
</head>
<body>
  {% include 'scripts-required.html' %}

  {% include 'header.html' %}

  {% set section_name="Administrateur - Recherche d'un trajet" %}
  {% include 'inner-page-admin.html' %}

  {% include 'admin/search-route/admin-search-route-section.html' %}

  {% include 'footer.html' %}

  <script src="/static/js/admin-search-route.js"></script>
  <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
  <script src="/static/js/routeTable.js"></script>
</body>
</html>